.AppTitle {
  margin: auto;
  padding: 10px;
}

.MainContainer {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.InfoTable {
  margin: auto;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 90%
}

th,
td {
  padding: 10px;
}
