.AppTitle {
  margin: auto;
  padding: 10px;
}

.MainContainer {
  margin: auto;
  width: 100%;
  background-color: rgb(225, 232, 247);
}

.InfoTable {
  margin: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 90%
}

th, td {
  padding: 10px;
}
